<%- include('templates/header') %>
  <div class="container">
    <h2>Hello, <%= username %>!</h2> 
    <div class="row">
      <div class="col-sm">
        <img src="/cat-1.gif" alt="Cat" style="width:200px; margin:10px;">
      </div>
      <div class="col-sm">
        <img src="/cat2.gif" alt="Cat" style="width:200px; margin:10px;">
      </div>
      <div class="col-sm">
        <img src="/cat3.gif" alt="Cat" style="width:200px; margin:10px;">
      </div>
      <p><a href = '/logout'>Logout</a></p>
    </div>
  </div>
<%- include('templates/footer') %>